

<ion-content>
  <div class="sign-container gradient-1">

    <div class="header">
      <div class="title ion-text-center">
        <!-- <img src="https://image.flaticon.com/icons/svg/145/145807.svg" alt=""> -->
        <img class="logo" src="assets/img/logo.png" alt=""> 
      </div>
    </div>

    <div class="login-container">

      <ion-list lines="none" class="form fade-in">
        <form autocomplete="off" (submit)="doLogin()">
        <ion-item>
          <ion-label></ion-label>
          <ion-input type="text" class="ion-text-left" placeholder="Email" [(ngModel)]="email" name="email" required="true"></ion-input>
          <ion-icon slot="start" name="at"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password" required="true" class="ion-text-left" placeholder="Password"></ion-input>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        </ion-item>
        <ion-button type="submit" class="green-button" expand="block">
          Login
        </ion-button>
        <!-- <ion-button class="google" (click)="loginGoogle()" size="small">
          <ion-icon name="logo-google" ></ion-icon>
        </ion-button> -->
        <section>
        <ion-fab-button class="google" (click)="loginGoogle()" size="small">
          <ion-icon name="logo-google" ></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="apple" size="small">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-fab-button>
      </section>
      </form>
      </ion-list>

      <!-- <div class="ion-text-center fade-in">
        <ion-button type="submit" class="green-button">
          Login
        </ion-button>
      </div> -->

    </div>

    <div class="sign-up-container gradient-2" [ngClass]="{'active': signupView}">

      <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">

        <span *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}">Sign Up</span>
        <span *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">Login</span>
        <br>
        <ion-icon name="arrow-round-up" *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}"></ion-icon>

      </div>

      <ion-list lines="none" class="form" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
        <ion-item>
          <ion-label></ion-label>
          <ion-input class="ion-text-left" placeholder="User Name"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-input class="ion-text-left" placeholder="Email"></ion-input>
          <ion-icon slot="end" name="at"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-input class="ion-text-left" placeholder="Password"></ion-input>
          <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
        </ion-item>
        <ion-button class="gray-button" expand="block">
          Login
        </ion-button>
      </ion-list>
<!--       
      <div class="ion-text-center" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
        <ion-button class="gray-button">
          Login
        </ion-button>
      </div> -->

    </div>

  </div>
</ion-content>




<!-------------------------------------->

<!--Hey! This is the original version
of Simple CSS Waves-->

<!-- <div class="header"> -->

  <!--Content before waves-->
  <!-- <div class="inner-header flex"> -->
  <!--Just the logo.. Don't mind this-->
  <!-- <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
  <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
  <g><path fill="#fff"
  d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
  C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
  c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
  </g>
  </svg> -->
  <!-- <img class="icon" src="assets/img/logo.png" alt=""> -->
  <!-- <h1>Simple CSS Waves</h1> -->
  <!-- </div> -->
  
  <!--Waves Container-->
  <!-- <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div> -->
  <!--Waves end-->
  
  <!-- </div> -->
  <!--Header ends-->
  
  <!--Content starts-->
  <!-- <div class="content flex">
  <p>Login</p>  
  </div> -->



  
   
  
    <!-- <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button class="google" (click)="loginGoogle()">
            <ion-icon name="logo-google" ></ion-icon>
          </ion-button>
           <!- <ion-button>
            <ion-icon name="logo-apple"></ion-icon>
          </ion-button> --
        </ion-col>
      </ion-row>
    </ion-grid>  -->
  
  <!-- 
    <div class="ion-text-center ion-margin-top">
      <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
    </div>
  </ion-content>
  

  

  <!-Content ends-->

<!---------------------------------------------->

<!--Hey! This is the original version
of Simple CSS Waves-->

<!-- <div class="header">

  <!-Content before waves-
  <div class="inner-header flex">
  <!-Just the logo.. Don't mind this--
  <!- <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
  <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
  <g><path fill="#fff"
  d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
  C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
  c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
  </g>
  </svg> --
  <img class="icon" src="assets/img/logo.png" alt="">
  <!-<h1>Simple CSS Waves</h1> --
  </div>
  
  <!-Waves Container--
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!-Waves end--
  
  </div>
  <!-Header ends--
  
  <!-Content starts--
  <div class="content flex">
  <p>Login</p>
  </div>
  Content ends -->

<!---------------------------------------------->




<!-- <ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img class="icon" src="assets/img/logo.png" alt="">
  <form autocomplete="off" (submit)="doLogin()">
    <ion-item>
      <ion-label position="stacked"><ion-icon name="mail-outline"></ion-icon> Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> <ion-icon name="lock-closed-outline"></ion-icon> Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button color="light" class="ion-margin-top" type="submit" expand="block"> Entrar<ion-icon name="checkmark-done-outline"></ion-icon></ion-button>
  </form> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-buttons>
        <ion-button slot="start">
          <ion-icon name="logo-google" ></ion-icon>
        </ion-button>
        <ion-button slot="end">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google" ></ion-icon>
        </ion-button>
         <ion-button>
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<!-- 
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
  </div>
</ion-content> -->