<!-- <ion-header>
  <ion-toolbar color="light">
    <ion-title>home</ion-title>
    <ion-icon slot="end" name="log-out-outline" (click)="logOut()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
<p>Bienvenido a tu dashboard</p>
</ion-content> -->

<!--Menu-->

<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button> -->
    <ion-menu-button color="dark"
                      menu="primerMenu">
    </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--END MENU-->